.login {
  
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 12px;
    background-color: #ffffff;
  
}
.login-button{
    margin-bottom: 10px;   
}
#join-button{
    background-color: red;
    border-color: red;
    width: 150px;
}
#basic{
    background-color: #ffc400de ;
    border-color: #ffc400de;
    width: 150px;
}
#google{
    background-color: #4285f4;
    border-color: #4285f4;
    width: 150px;
}
#naver{
    background-color: #00c73c;
    border-color: #00c73c;
    width: 150px;
}