.post-order {
    width: 55%;
    height: 620px;
    text-align: center;
    font-weight: 50px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #ffffff;
    border: 5px solid #d9c3f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form2{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 20px;
}
#title{
    margin-top: 30px;
    margin-bottom: 40px;
} 
#abc{
    margin-bottom: 0px;
    margin-top: 23px;
}