 
.form1{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.g-4{
    margin: 20px;  
} 
#post-textarea{
    border: 1px solid rgb(214, 214, 214);
}
#book-img{
    text-align: center ;
} 
.text-right{
    text-align: right; 
}